.App {
    background: #062a46 !important;
    min-height: 100vh;
    color: white;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.App p {
    font-size: 1.2rem;
}